/** new price range **/
.priceRanger {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 203px;
  height: 95px;
  padding: 10px;
  padding-top: 8px;
}
.priceRanger .writer-block{
  width: 77px;
  height: 40px;
  padding: 3px;
  position: relative;
  border: 2px solid rgba(73, 69, 79, 0.4);
  border-radius: 10px;
}
.priceRanger .writer-sep{
  width: 10px;
  height: 0px;
  border: 1px solid #49454F;
  position: relative;
  top: calc(67px / 3.5);
  margin-left: 10px;
  margin-right: 10px;
}

.priceRanger .writer-block:hover .label, .priceRanger .writer-block.active .label{
  color:#49454F;
}
.priceRanger .writer-block:hover, .priceRanger .writer-block.active{
  border:2px solid #49454F;
}
.priceRanger .writer-input:hover, .priceRanger .writer-input.active{
  color:#49454F;
}
.priceRanger .writer-block .label{
  text-transform: uppercase;
  color: rgba(73, 69, 79, 0.4);
  font-family: 'Eina 03';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  top: -2px;
}
.priceRanger .writer-block .writer-input:focus, .writer-block .writer-input:hover{
  outline:0 none;
}
.priceRanger .writer-block .writer-input{
  border: 0 none;
  margin-top: 5px;
  background: transparent;
  font-family: 'EINA 03';
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.moreFilterDropDown{
    z-index: 999;
    top: 52px;
    left: calc(50% - 10px);
    position: absolute;
}
  .morePopup-new{
    width: 395px;
    height: 230px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 6px;
    padding-left: 15px;
  }
  .morePopup-new button.filterBtn:hover, .morePopup-new button.filterBtn:focus{
    outline: 0 none;
  }
  .morePopup-new button.filterBtn{
    background: #fff;
    border: 1px solid rgba(73, 69, 79, 0.4);
    box-sizing: border-box;
    border-radius: 8px;
    align-self: center;
    margin: 8px 0px 0px;
    text-align: center;
    margin-right: 5px;
    font-size: 16px;
    line-height: 24px;
    height: 44px;
    min-width: 108px;
    font-family: 'eina 03';
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    padding: 9px;
    display: inline-flex;
    color:#49454F;
    transition: all 300ms;
  }
  .morePopup-new button.filterBtn.active {
    transition: all 300ms;
    background: #FFECB9;
    color: #030D4F;
    border: 2px solid #49454F;
    font-family: 'eina_03semibold';
  }
  .morePopup {
    width: 420px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    border-radius: 8px;
    position: relative;
  }
  
  .morePopup .head {
    height: 60px;
    padding-top: 16px;
    padding-left: 12px;
    display: inline-flex;
    position: relative;
    width: calc(100% - 12px);
  }
  .morePopup .head .reset {
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 2;
  }
  .morePopup .head .reset button.resetBtn {
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 64px;
    width: 48px;
    height: 18px;
    color: #c4c4c4;
    font-family: 'Eina 03';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    width: 48px;
    height: 18px;
    cursor: pointer;
  }
  .morePopup .head .reset button.resetBtn:hover,
  .morePopup .head .reset button.resetBtn:focus {
    outline: 0px none;
  }
  .morePopup .head .title {
    width: 100%;
    display: block;
    text-align: center;
    color: #49454f;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    z-index: 1;
    display: block;
    position: relative;
    left: -12px;
  }
  .morePopup .head .control {
    cursor: pointer;
    position: absolute;
    left: 12px;
    z-index: 2;
  }
  .morePopup .head .control span.close {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #49454f;
    font-weight: 600;
  }
  .morePopup .foot {
    height: 60px;
    position: relative;
  }
  .morePopup .foot button {
    border: 0px none;
    width: 255px;
    height: 40px;
    margin: 0 auto;
    display: block;
    background: #4476df;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    color: #fff;
    font-family: 'Eina 03';
    position: relative;
    top: 22%;
    cursor: pointer;
  }
  .morePopup .foot button:hover,
  .morePopup .foot button:focus {
    outline: 0px none;
  }
  .morePopup .content {
    height: 400px;
    overflow: auto;
    padding-left: 12px;
  }
  .morePopup .content .iconInfo {
    background: #fff url("/static/assets/Icons/infoLock.svg") center center no-repeat;
    width: 22px;
    height: 12px;
    display: block;
    background-size: contain;
    line-height: 30px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }
  .morePopup .content .iconInfo:hover:after {
    display: block;
  }
  .morePopup .content .iconInfo:after {
    content: attr(data-info);
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px 50px 50px 0px;
    padding: 10px;
    display: none;
    z-index: 999;
  }
  .morePopup .content .separator {
    display: inline-block;
    color: #49454f;
    padding-left: 4px;
    padding-right: 4px;
  }
  .morePopup .content .p1 {
    padding-top: 15px;
  }
  .morePopup .content .w100 {
    width: 100%;
  }
  .morePopup .content .w5 {
    width: 50%;
  }
  .morePopup .content .checkBoxCC.icon {
    border-radius: 5px;
    border: 1px solid #000;
    width: 27px;
    height: 27px;
    min-width: 27px;
    margin-right: 10px;
    cursor: pointer;
  }
  .morePopup .content .optionCheck {
    display: flex;
    margin-bottom: 10px;
  }
  .morePopup .content .optionCheck span.label {
    font-size: 15px;
    line-height: 30px;
    color: #49454f;
    font-family: 'Eina 03';
    font-style: normal;
    font-weight: normal;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .morePopup .content .inline {
    display: flex;
  }
  .morePopup .content p.headingp {
    color: #49454f;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Eina 03';
  }
  .morePopup .content .group .label {
    color: #49454f;
    font-family: 'Eina 03';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    display: block;
  }
  .morePopup select.bubbleOption {
    font-family: 'Eina 03';
    background: #fff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
  }
  .morePopup select.bubbleOption:hover,
  .morePopup select.bubbleOption:focus {
    outline: 0px none;
  }
  .morePopup ul.bubbleRange {
    list-style: none;
    background: #fff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    width: 79%;
    padding-left: 5px;
    height: 30px;
    overflow: auto;
    box-sizing: content-box;
    padding-left:10px;
  }
  .morePopup ul.bubbleRange li.active {
    color:#000;
  }
  .morePopup ul.bubbleRange li {
    font-family: 'Eina 03';
    cursor: pointer;
    width: 25px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    text-indent: -8px;
    margin-right: 7px;
    margin-left: 7px;
    color:#ccc;
  }
  .morePopup ul.bubbleRange li:hover {
    /* background: #ccc; */
    /* border-radius: 20px; */
  }
  .morePopup ul.bubbleRange li:last-child {
    margin-right: 0px;
  }
  .morePopup ul.bubbleRange li:first-child {
    margin-left: 0px;
  }
  